body {
    background-color: rgb(3, 47, 47);
}

/*
    On app load, HIDE all <section>
    display can show (block) or hide (none) an Element <section>
*/
section { 
    display: none;
    background-color: darkorange;
    margin: 1em; /* The space outside the box */
    padding: 1em; /* The space inside the box */
}

/* And then, SHOW only pgwelcome <section> */
/* section#pgWelcome {
    display: block;
 } */
/* Via JS, show the right screen */

/*
    Style paragraphs to center content
    class="" - HTML
    .        - CSS
    .contentCenter{} - applies to ANY html elem
        - Generic
    p.contentCenter{} - ONLY to <p> w/ contentCenter
        - Specific
*/
.contentCenter {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.contentRight {
    text-align: right;
}

td {
    padding: 0.25em;
}

.boxHero {
    background-color: coral;
}

.boxVill {
    background-color: crimson;
    color: whitesmoke;
}